@tailwind base;
@tailwind components;
@tailwind utilities;


/* Đây là Css cho Menu Navbar ở mobile */
.mobile-menu {
  position: fixed; 
  top: 56px; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 51; 
}

.mobile-menu-enter {
  opacity: 0;
  transform: translateY(-100%);
}

.mobile-menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms ease-out, transform 300ms ease-out;
}

.mobile-menu-exit {
  opacity: 1;
  transform: translateY(0);
}

.mobile-menu-exit-active {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
/* -------------------------------------- */